.header {
    display: flex;
    align-items: center;
  }

  h1 {
    margin-left: 33%;
    margin-right: 0; 
  }

  #hea {
    text-align: center;
  }

  #coloredText {
    color: rgb(202, 35, 179);
  }
  
  img {
    margin-left: 0; 
    display: flex;
  }



h2{
    text-align: center;
}
h5{
    text-align: center;
}
label{
    display: flex;
    margin-bottom: 10px;
    margin-left: 50px;
    justify-content: space-between;
}
input{
    margin-bottom: 10px;
    width: 93%;
    margin-right:50px ;
    margin-left:50px;
    height: 45px;
}

.name-row{
    display: flex;
    width:60%;
    margin-right: 5px;
}
.label-row{
    display: flex;
    justify-content: space-between;
}

#L2{
    margin-right: 62%;
}
#L1{
    margin-left: 50px;
}
  