<div class="header">
    <h1 id="hea"><span id="coloredText"> Contact Our </span><br> Customer Support Center</h1>
    <img src="assets/images.jpeg" alt="contact" id="img1">
  </div>


<h2>Contact Information</h2>
<h5>Please fill out your contact information below</h5>

<div>
    <form>
        <div>
           <div>
                <label> Name*</label>
            <div class="name-row">
                <input type="text" required ><br><br>
                <input type="text"  required ><br><br>        
            </div>
            <div class="label-row">
                <label id="L1"> First Name</label>
                <label id="L2"> Last Name</label>
            </div>
            </div><br>
        <div>
            <label> Email*</label>
            <input type="email"  required> <br> <br> 
            <label> Phone*</label>
            <input type="number"  required>  <br><br>
            <label> Address*</label>
            <input type="text"  required>            
        </div>
        </div>
    </form>
</div>

  
  
